.DS_Store
node_modules
obj
bin
frontend/table-reservation/.env
backend/microservices/authentication/internal/.env
backend/microservices/management-service/internal/.env
.azuredatastudio/settings.json
